@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* page smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* the canvas/background of the website */
body {
  margin: 0;
  background-color: rgb(202, 202, 202);
  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(
    110deg,       
    #e8ecf1 35%, /* "Silver Mist" (Cool, crisp, slightly blue-tinted gray) */
    #ffffff 45%,  /* Pure White (Creates a "glow" around the beam) */
    #fff1c0 50%,  /* "Sunlight" (A lively, buttery gold - brighter than before) */
    #ffffff 55%,  /* Pure White (Glow) */
    #e8ecf1 65%   /* Back to Silver Mist */
  );

  background-size: 400% 100%;
  animation: shimmer 8s linear infinite;
  background-attachment: fixed;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;

  background-image: 
    radial-gradient(2px 2px at 10% 20%, rgba(218, 165, 32, 0.6), transparent),
    radial-gradient(2px 2px at 35% 50%, rgba(218, 165, 32, 0.5), transparent),
    radial-gradient(3px 3px at 70% 15%, rgba(218, 165, 32, 0.7), transparent),
    radial-gradient(2px 2px at 85% 30%, rgba(218, 165, 32, 0.6), transparent),
    radial-gradient(2px 2px at 40% 80%, rgba(218, 165, 32, 0.5), transparent),
    radial-gradient(3px 3px at 90% 75%, rgba(218, 165, 32, 0.7), transparent),
    radial-gradient(2px 2px at 15% 65%, rgba(218, 165, 32, 0.6), transparent),
    radial-gradient(2px 2px at 60% 90%, rgba(218, 165, 32, 0.5), transparent);

  background-repeat: repeat;
  background-size: 300px 300px;

  animation: twinkle 5s ease-in-out infinite;
}

/* shimmer animation */
@keyframes shimmer {
  0% {background-position: 100% 0%;}
  100% {background-position: -100% 0%;}
}

/* home styling */
.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;
  
  scroll-margin-top: 100px;
}

/* navbar box itself */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* keeps navbar floating on top of other elements */
  display: flex;
  justify-content: center;
  align-items: center;

  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  padding: 20px 0;

  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(15px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0;
}

.navbar.scrolled {
  width: 60%;
  top: 12px;
  
  border-radius: 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* removes links underline */
.navbar a {
  text-decoration: none;
  color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* styles the navbar */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* page styling */
.page-section {
  background: linear-gradient(
    135deg, 
    rgba(220, 235, 255, 0.4), /* Top-Left: Shiny & more opaque */
    rgba(245, 245, 255, 0.2)  /* Bottom-Right: Clear & transparent */
  );
  backdrop-filter: blur(20px); /* blurs things behind panel */
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow:
    0 12px 40px 0 rgba(0, 0, 0, 0.25),            /* The Drop Shadow (Lift) */
    inset 0 0 25px 0 rgba(255, 255, 255, 0.9);  /* The Inner Glow (Thickness) */;
  border-radius: 25px; /* rounded corners */

  width: 70vw;
  height: 80vh;
  min-height: 500px;
  margin: 20px auto; /* centers left/right automatically */
  padding: 10px 25px 30px 30px; /*space inside panel */
  scroll-margin-top: 85px; /* offset for sticky navbar */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

/* page title styling */
.title {
  font-family: "Helvetica", sans-serif;
  font-size: 2.2rem;
  
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

  text-transform: uppercase;
  color: black;
  
  border-bottom: 3px solid #333;
}

/* page seperator line styling */
.divider {
  border: none;
  height: 1px;
  background-color: #b7b6b6;
  width: 75%;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: row; /*side by side*/
  justify-content: flex-start;
  align-items: flex-start;

  gap: 40px;
  width: 100%;
  height: 100%;
}

.about-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  padding: 20px;
}

.about-content p {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: #333;
}

.about-content p:last-child {
  font-style: italic;
}

/* the card stack */
.card-stack {
  position: relative;
  width: 400px;
  height: 550px;
  flex-shrink: 0; /*prevents image squishing*/
  perspective: 1000px; /*distortion*/

  margin-top: 20px;
  margin-left: 20px;
}

/* the images */
.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);

  transition: transform 0.3s ease;
}

/* depth/animation for cards */
.front-card {
  z-index: 2;
  transform: scale(1) translate(0,0);
}

.back-card {
  z-index: 1;
  transform: scale(0.95) translate(30px, 20px); /*push back and down */
  opacity: 0.8;
  filter: brightness(0.6);
}

/* shuffling animation */
.back-card.shuffling {
  animation: shuffleMove 0.4s ease-in-out forwards;
  z-index: 3;
}

@keyframes shuffleMove {
  0% {
    transform: scale(0.95) translate(30px, 20px);
    filter: brightness(1);
  }
  50% {
    transform: translateX(50%) translateY(-20px) scale(1.1) rotate(10deg);
  }
  100% {
    transform: translate(0,0) scale(1) rotate(0deg);
  }
}

.front-card.yielding {
  animation: leftYield 0.4s ease-in-out forwards;
  z-index: 1;
}

@keyframes leftYield {
  0% {
        transform: scale(1) translate(0,0);
    }
    50% {
        transform: translateX(-100px) scale(0.95) rotate(-2deg);
    }
    100% {
        transform: scale(0.95) translate(30px, 20px);
        filter: brightness(0.6);
    }
}

@keyframes textSideSlide {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.home-text {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 8rem;
  text-transform: uppercase;
  color: black;

  position: relative;
  bottom: 50px;

  animation: textSideSlide 3.5s ease-in-out forwards;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.4;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}

.resume-grid {
  display: flex;
  flex-direction: row;
  margin: 20px;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.resume-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;
}

.resume-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;
  padding-left: 20px;
}

.resume-left h2, .resume-right h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  border-bottom: 3px solid rgba(0,0,0,0.1);

  font-family: 'Nunito', sans-serif;

  padding-bottom: 5px;
  margin-bottom: 10px;

  width: 90%;
}

.exp-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.exp-list li {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5;
  margin-bottom: 15px;
}

.edu-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.edu-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.edu-logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;

  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3)
}

.edu-content h3 {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: black;
  line-height: 1.2;
}

.edu-date {
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  font-size: 0.85rem;
  color: #333;
  font-weight: 400;
  margin: 0;
}

.edu-desc {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #666;
  margin: 0;
  line-height: 1.2;
}

.skills-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skills-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.skills-list li {
  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.2;
  margin-bottom: 8px;
}

/* PORTFOLIO PAGE */
.portfolio-grid {
  display: flex;
  flex-direction: row;
  gap: 20px;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.portfolio-left {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.portfolio-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.portfolio-grid h2 {
  font-family: "Nunito", sans-serif;
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  border-bottom: 2px solid rgba(0,0,0,0.1); /* Subtle divider line */
  padding-bottom: 5px;
  margin: 5px;
}

.portfolio-grid p {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1;
  color: #333;
  margin: 5px;
}

.portfolio-featured {
  width: 100%;
  height: 440px;

  border-radius: 25px; /* rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 3px solid #555;
}

.portfolio-image {
  width: 90%;
  height: 180px;

  border-radius: 25px; /* rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 3px solid #555;

  margin-bottom: 20px;
}

/* Contact Page */
#contact .title {
  margin-bottom: 5px;
}

#contact p {
  margin-top: 0;
  margin-bottom: 15px;
}

.contact-box {
  width: 100%;
  max-width: 1000px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  gap: 40px;
  margin-top: 0;
}

.contact-left {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch; /*stretch inputs to fill width*/
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  flex: 1;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  width: 100%;

  margin-bottom: 20px;
}

.form-box label {
  font-size: 0.85rem;
  font-weight: 700;
  font-family: 'Nunito', sans-serif;

  text-transform: uppercase;
  letter-spacing: 1px;
  
  color: #555;
  margin-left: 5px;
}

.form-box input, .form-box textarea {
  padding: 12px 20px;
  width: 100%;
  margin-top: 5px;

  background-color: rgba(255, 255, 255, 0.7); /* Slightly see-through white */
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 15px;

  font-size: 1rem;
  font-family: 'Nunito', sans-serif;
  color: #333;

  transition: all 0.3s ease;
  box-shadow: inset 0 2px 5px rgba(0,0,0,0.05);
}

/* Make the border highlight when you click inside */
.form-box input:focus, 
.form-box textarea:focus {
  border-color: #333;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0,0,0,0,1);

  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  margin-top: 20px;

  background-color: #333;
  color: white;

  border: none;
  border-radius: 50px;

  font-family: 'Nunito', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  cursor: pointer;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.submit-btn:hover {
    background-color: #000;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.send-button:disabled {
    background-color: #bc3737;
    cursor: not-allowed;
    transform: none;
}

.contact-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.05);

  padding: 40px 30px;
  margin: 20px;

  height: auto;
  min-height: 400px;
  width: 100%
}

.contact-right h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;

  margin-top: 0;
  margin-bottom: 5px;

  border-bottom: 3px solid #333;
  padding-bottom: 5px;
  display: inline-block;
}

.contact-right p {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 40px;
  font-style: italic;
}

.contact-right ul li a{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 20px;
  text-decoration: none; /*removes underline*/
  border-radius: 12px;
  background-color: white;
  color: #333;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;

  border: 1px solid rgba(0,0,0,0.05);
  box-shadow: 0 6px 5px black;
  transition: all 0.2s ease;
}

.socials-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.socials-list li {
  width: 100%;
}

.socials-btn i{
  font-size: 1.4rem;
}

.social-btn.github:hover {
  background-color: #4c00ff;
  color: white;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.social-btn.linkedin:hover {
  background-color: #0077b5;
  color: white;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 119, 181, 0.3);
}

.social-btn.instagram:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  color: white;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(220, 39, 67, 0.3);
  border-color: transparent;
}

.social-btn.youtube:hover {
  background-color: red;
  color: white;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}