/* page smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* the canvas/background of the website */
body {
  margin: 0;
  background-color: rgb(202, 202, 202);
  font-family: 'Open Sans', sans-serif;

  background: linear-gradient(
    110deg,       
    #dcdcdc 35%,  /* Darker Grey */
    #f0f0f0 45%,  /* Light Grey */
    #f5d0a9 50%,  /* Darker Champagne/Gold (More visible) */
    #f0f0f0 55%,  /* Light Grey */
    #dcdcdc 65%   /* Darker Grey */
  );

  background-size: 500% 100%;

  animation: shimmer 8s ease infinite;

  background-attachment: fixed;
}

/* shimmer animation */
@keyframes shimmer {
  0% {background-position: 100% 0%;}
  100% {background-position: -100% 0%;}
}

/* home styling */
.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;
}

/* navbar box itself */
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
  /* navbar following */
  position: sticky;
  top: 0;
  z-index: 1000; /* keeps navbar floating on top of other elements */
}

/* removes links underline */
.navbar a {
  text-decoration: none;
  color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* styles the navbar */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* page styling */
.page-section {
  background: rgba(255, 255, 255, 0.25); /* translucent panel */
  backdrop-filter: blur(15px); /* blurs things behind panel */
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border-radius: 20px; /* rounded corners */

  width: 90vw;
  min-height: 200px;
  margin: 20px auto; /* centers left/right automatically */

  min-height: 0;

  padding: 40px; /*space inside panel */
}

.page-section h1 {
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: 10px
}

/* page seperator line styling */
.divider {
  border: none;
  height: 1px;
  background-color: #b7b6b6;
  width: 85%;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: row; /*side by side*/
  justify-content: flex-start;
  align-items: center;
  gap: 50px; /*space between image and text*/
  width: 90%;
}

.about-image {
  width: 400px;
  height: auto;
  border-radius: 25px; /* rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 4px solid #555;
}

@keyframes textSideSlide {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.home-text {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 8rem;
  text-transform: uppercase;
  color: black;

  position: relative;
  bottom: 50px;

  animation: textSideSlide 3.5s ease-in-out forwards;
}