/* removes links underline */
.navbar a {
  text-decoration: none;
  color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

/* styles the navbar */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}
  