/* page smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* the canvas/background of the website */
body {
  margin: 0;
  background-color: rgb(202, 202, 202);
  font-family: 'Open Sans', sans-serif;
}

/* shimmer animation */
@keyframes shimmer {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

/* home styling */
.home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: 'Montserrat', sans-serif;

  /* background: linear-gradient(-45deg, #ffffff, #f5f7fa, #e8ecf1, #ffffff); */
  background-size: 400% 400%;
  background: linear-gradient(45deg, blue, pink);

  animation: shimmer 10s ease infinite;
}

/* navbar box itself */
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  
  /* navbar following */
  position: sticky;
  top: 0;
  z-index: 1000; /* keeps navbar floating on top of other elements */
}

/* removes links underline */
.navbar a {
  text-decoration: none;
  color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* styles the navbar */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* page styling */
.page-section {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: white;
  transform: translateY(-50px);

  font-family: 'Montserrat', sans-serif;

  scroll-margin-top: 60px; /* offset for navbar */;
}

.page-section h1 {
  font-size: 2rem;
  text-transform: uppercase;
  word-spacing: 10px

}

/* page seperator line styling */
.divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 80%;
  margin: 0 auto;
}

.about-content {
  display: flex;
  flex-direction: row; /*side by side*/
  justify-content: flex-start;
  align-items: center;
  gap: 50px; /*space between image and text*/
  width: 90%;
}

.about-image {
  width: 470px;
  height: auto;
  border-radius: 25px; /* rounded corners */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  border: 4px solid #555;
}

@keyframes textSideSlide {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.home-text {
  font-family: "montserrat", sans-serif;
  font-weight: 900;
  font-size: 8rem;
  text-transform: uppercase;
  color: black;

  position: relative;
  bottom: 50px;

  text-shadow: 2px 2px 10px rgba(0,0,0,0.1);

  animation: textSideSlide 3.5s ease-in-out forwards;
}