html {
  scroll-behavior: smooth;
}

/* the canvas/background of the website */
body {
  margin: 0;
  background-color: rgb(202, 202, 202);
  font-family: 'Times New Roman', Times, serif;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* body styling */
.body h1 {
  font-size: 5rem;
  font-weight: 900;
  color: black;
  letter-spacing: 5px;
  margin: 0;
}

/* navbar box itself */
.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

/* removes links underline */
.navbar a {
  text-decoration: none;
  color: black;
  font-family: 'Helvetica', sans-serif;
  font-size: 12px;
  letter-spacing: 12px;
  text-transform: uppercase;
}

/* styles the navbar */
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* styles each section of pages */
.page-section {
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about {
  background-color: white;
}